<%= render 'shared/errors', obj: @article %>

<div class="container">
<div class="row">
    <div class="col-sm-12">
        <%= form_for(@article, :html => { class: "form-horizontal", role: "form"}) do |f| %>
            <div class="form-group">
                <label  class="col-sm-2 control-label">
                    <%= f.label :title %> 
                </label>
                <div class="col-xs-12 col-sm-8 col-md-6">
                    <%= f.text_field :title, :class=>"form-control", :placeholder=>"Enter a Title" %>
                </div>    
            </div>
             <div class="form-group">
                <label  class="col-sm-2 control-label">
                    <%= f.label :description %>
                </label>
                <div class="col-sm-8">
                     <%= f.text_area :description, rows:10, :class=>"form-control", :placeholder=>"Enter a description" %>
                 </div>    
            </div>
             <div class="form-group">
                <div class="row text-center col-offset-sm-5  ">
                        <%=  f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb|  %>
                            <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
                        <% end %>
                    </div>     
            </div>

             <div class="col-sm-offset-2 col-sm-10">
                <%= f.submit class: 'btn btn-primary' %>
             </div>
        <% end %>
         <div class="col-sm-offset-4 col-sm-4 "> 
            <span class=""> [</span> <%= link_to  "Cancel request and return to articles listing", articles_path %> ]
        </div>
   </div> 
</div>