<h1 class="text-center"><%= " " + @category.name %>   

<%= link_to "Edit #{@category.name}", edit_category_path(@category), class: "btn btn-xs btn-primary" %> </h1>
 <div class="text-center">
    <%= will_paginate @category_articles %>
</div>
 <%= render 'articles/articles', obj:  @category_articles %>
<div class="text-center">
    <%= will_paginate @category_articles %>
</div>
        